@import '../variables';
@import '../mixins';

.card {
  @include widthHeight;
  position: relative;
  border-radius: 10px;
  @include fadeInUp;

  &__img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: inherit;
    transition: $transition;
  }

  &__title {
    position: absolute;
    bottom: 0;
    margin: 10px 15px;
    color: $title-color;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-sizing: inherit;
    font-size: 1rem;
    font-weight: bold;
    z-index: 2;
    transition: $transition;
  }

  &__overlay {
    position: absolute;
    top: 0;
    @include widthHeight;
    border-radius: inherit;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, #00000080);
    transition: $transition; 
    z-index: 1;
  }

  &:hover {
    .card__img, .card__title, .card__overlay {
      transform: scale(1.03);
    }
  }

  @include media(tablet) { 
    .card {
      &__title {
        margin: 10px 15px;
      }
    }
  }
}