@import '../variables';
@import '../mixins';

.footer {
  text-align: center;
  background-color: $primary-color;
  padding: 40px 0 20px;

  .footer__text {
    color: $title-color;
    margin-top: 25px;
    font-size: 20px;
  }

  @include media(mobile) {
    padding-bottom: 40px;
    .footer__text {
      margin-top: 10px;
      font-size: 13px;
      padding: 0 180px;
    }
  }
}