@import '../variables';
@import '../mixins';

.gallery {
    margin: 40px 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    border-radius: 25px;

    @include media(tablet) {
        padding: 30px; 
        grid-template-columns: repeat(2, 1fr); 
    }
    
    @include media(mobile) {
        background-color: transparent; 
        margin: 20px 0;
        padding: 0; 
        grid-template-columns: 1fr; 
        gap: 20px; 
    }
}