@import '../variables';
@import '../mixins';

.header {
  display: flex;
  justify-content: space-between;

  &__img {
    width: 100%;
    height: auto;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__navlink {
    color: $primary-color;
    text-decoration: none;
    padding-left: 5rem;
    font-size: 30px;

    &:hover,
    &.active {
      text-decoration-line: underline;
    }

    @include media(tablet) {
      padding-left: 4rem;
      font-size: 22px;
    }

    @include media(small-tablet) {
      padding-left: 3rem;
      font-size: 20px;
    }

    @include media(mobile) {
      padding-left: 2rem;
      font-size: 15px;
      text-transform: uppercase;
    }
  }
}
