@import '../../utils/variables';
@import '../../utils/mixins';

.host {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5em;
  
    &__picture {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }
  
    &__name {
      font-size: 1.2em;
      color: $main-color;
      width: min-content;
    }

    @include media(mobile) {
      &__picture {
        width: 45px;
        height: 45px;
      }

      &__name {
        font-size: 1em;
      }
    }
  }
  