@import '../../utils/variables';
@import '../../utils/mixins';

.rating {
  display: flex;
  gap: 0.8em;
  margin-top: 25px;

  .rating__star {
    width: 1.5em;
    height: 1.5em;
  }

  @include media(mobile) {
    margin-top: 0;
    gap: 0.5em;

    .rating__star {
      width: 1em;
      height: 1em;
    }
  }
}
