@import './utils/variables';
@import './utils/mixins';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}

body {
  @include flex-column;
}

.wrapper {
  @include flex-column;
  min-height: 100vh;
}

main {
  flex: 1;
}
  
header, main {
  margin: 40px 80px 0;

  @include media(tablet) { // Pour les tablettes
    margin: 30px 60px 0;
  }

  @include media(small-tablet) { // Pour les petits écrans de tablette
    margin: 20px 40px 0;
  }

  @include media(mobile) { // Pour les mobiles
    margin: 20px 20px 0;
  }
}